# Основные зависимости
SpeechRecognition>=3.10.0  # Для распознавания речи
pydub>=0.25.1  # Для работы с аудио
deepmultilingualpunctuation>=0.1.1  # Для пунктуации

# Дополнительные (уже в стандартной библиотеке Python)
# wave
# os
# subprocess
# datetime

# Опциональные (для расширенной функциональности)
# ffmpeg-python>=0.2.0  # Альтернативный интерфейс для FFmpeg